.articleTitle
{
	background-color: #631D76;
	padding: 20px;
	color: white;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

.articleMainContent
{
}

.articleSideBar
{
	background-color: #D5D2CA;
	color: #631D76;
	font-size: 15px;
	text-align: center;
}

