/* Overriding Bootstrap Carousel styles */
/* Make the indicators larger */
.carousel-indicators li, .carousel-indicators .active
{
	border: none;
	width: 20px;
	height: 20px;
	margin: 5px;
	background-color: #ecc182;
	opacity: 0.6;
	filter: alpha(opacity = 60); /* IE 8 and earlier */
}

.carousel-indicators .active
{
	background-color: #e37222;
	opacity: 1;
	filter: alpha(opacity = 100);
}

.carousel-indicators li:hover
{
	background-color: #e37222;
}

/* Indicators positioning */
.carousel-indicators
{
	bottom: 0px;
}

/* Caption positioning */
.carousel-caption
{
	bottom: 30%;
	left: 50%;
	right: 0%;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

/* Just so all images are of the same sizes */
.carousel img
{
	width: 100% !important;
}

/* Item Link */
.item a
{
	position: absolute;
	bottom: 20%;
	left: 80%;
	display: inline-block;
	color: #ffffff !important;
	width: auto;
	height: auto;
	font-size: 16px;
	padding: 10px 25px;
	text-shadow: 0 1px 2px #000000;
	background-image: linear-gradient(to top, #631D76, #631D76);
	background-color: #631D76;
	text-decoration: none;
	z-index: 9999;
	transition: all 300ms ease-out 0s;
}

.item a:hover
{
	color: #ffffff;
			box-shadow: inset 0 1px 0 0 #8A2AA4,inset 0 -1px 0 0 #8A2AA4,inset 0 0 0 1px #8A2AA4;
	   -moz-box-shadow: inset 0 1px 0 0 #8A2AA4,inset 0 -1px 0 0 #8A2AA4,inset 0 0 0 1px #8A2AA4;
	-webkit-box-shadow: inset 0 1px 0 0 #8A2AA4,inset 0 -1px 0 0 #8A2AA4,inset 0 0 0 1px #8A2AA4;
	background-image: none;
	background-color: #8A2AA4;
}

/* There are cases where captions have stopped the next button to be not responsive */
.carousel-control
{
	z-index: 999;
	width: 10%;
}

/* Position the prev and next buttons */
.carousel-control .fa-chevron-right, .carousel-control .fa-chevron-left
{
	position: absolute;
	top: 50%;
}

/* http://stackoverflow.com/questions/31569225/how-to-display-previous-and-next-images-with-a-bootstrap-carousel
.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left: 33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
*/

/* Specify the width of the slider image */
.carousel-inner>.item
{
	/*margin: 0 auto;*/
	max-height: 400px;
	/*width: 1000px;*/
}

/* Specifying the positioning of carousel captions and button */
@media (max-width: 768px) {
	.carousel-control.right, .carousel-control.left {
		display: none;
	}
}

@media (max-width: 568px) {
	.carousel-caption {
		left: 0;
		top: 0;
		font-size: 80%;
	}
	
	.item a {
		right: 0;
		left: auto;
		font-size: 80%;
		text-align: center;
	}
}
