.event
{
	margin-top: 130px;

}

.eventDate
{
	font-size: 120%;
	font-weight: bold;
}

.eventTitle
{
	background-color: #631D76;
	padding: 20px;
	color: white;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	
}

/* Event List */
p.evtHeader
{
	padding: 20px 0px;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	background-color: #ccb7d4;
}

a.evtLink p
{
	color: black;
}

a.evtLink
{
	display: block;
	text-decoration: none;
	padding: 8px;
}

a.evtLink:hover
{
	background-color: #b3b6dd;
}

p.evtDate
{
	font-weight: bold;
	text-align: center;
	font-size: 110%;
}

p.evtTitle
{
	font-weight: bold;
}

p.evtSummary
{
	overflow: hidden;
	height: 60px;
}
