.bcotGallery
{
}

#photos
{
	line-height: 0;
	-webkit-column-count: 3;
	-webkit-column-gap: 0px;
	-moz-column-count: 3;
	-moz-column-gap: 0px;
	column-count: 3;
	column-gap: 0px;
}

#photos img
{
	width: 100% !important;
	height: auto !important;
	padding: 5px;
}

.galleryTitle
{
	background-color: #631D76;
	padding: 20px;
	color: white;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

.galleryRow
{
padding-bottom: 5px;
}

.galleryColumn
{
	padding-top: 5px;
	font-size: 10px;
	text-align: justify;
	text-align: justify;
}

.galleryColumn p
{
	margin-left: 5px;
}

.galleryImage
{
	display: block;
	margin: 0 auto;
	width: 100%;

}