#myModal
{
	margin-top: 150px;
}

.homepageContent
{
	padding: 15px;
}

.formSearch
{
	margin: 15px 0px;
}

.divSlider
{
	position: relative;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.searchCourseBox
{
	width: 100%;
	position: absolute;
	bottom: 70px;
	text-align: center;
}

.divBox1, .divBox2, .divBox3
{
	color: white;
	padding: 10px;
	height: 200px;
	margin: 15px 0px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    border-bottom-right-radius: 15px;
}

.divBox1
{
	background-color: #0098db;
	background: url("/media/1021/imagegen.jpg");
}

.divBox1Layer
{
}

/* Postion the latest news or event at the bottom of its' panel*/
.latestItem 
{
	position: absolute;
	bottom: 30px;
	font-weight: bold;
	font-size: 120%;
	width: 80%;
}

.latestItem a
{
	text-decoration: none;
	background-color: white;
	color: #8e258d;
	display: block;
	padding: 5px;
}

.latestItem a:hover
{
	color: white;
	background-color: #8e258d;
}

.divBox2
{
	background-color: #e37222;
	background: url("/media/1022/2016_high_res-9_586x391.jpg");
}

.divBox3
{
	background-color: #631D76;
}

.divBox3 a
{
	display: block;
	text-decoration: none;
	color: white;
	transition: background-color 300ms;
}

.divBox3 a:hover
{
	text-decoration: none;
	background-color: #8A2AA4;

}

/* Smaller boxes */
a.divSBox1, a.divSBox2, a.divSBox3, a.divSBox4
{
	display: block;
	border: 1px solid #631d76;
	color: white;
	padding: 10px;
	height: 150px;
			box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
		-moz-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
	-webkit-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
}

a.divSBox1:hover, a.divSBox2:hover, a.divSBox3:hover, a.divSBox4:hover
{
	text-decoration: none;
}

@media (min-width: 995px)
{
	.imgLogo
	{
		width: 300px;
	
	}
}