#header-container
{
	padding: 10px 50px 0px 50px;
	position: fixed;
	top: 0;
	left: 0;
	height: 145px;
	width: 100%;
	/* overflow: hidden;  Stops the mobile menu being shown*/ 
	z-index: 99999;
	background-color: white;
}

#main-container
{
	overflow: hidden;
	padding: 130px 0px 0px 0px;
	margin: 15px 0px;
}

.mobileHeader
{
	text-align: center;
	color: #631D76;
	font-size: 22px;
	padding-top: 2px;
	padding-bottom: 5px;
}

.imgLogo
{
	width: 200px;
}

.contactUs
{
	font-weight: bold;
	font-size: 120%;
	color: #818a8f;
	margin: 9px 0px;
}

.applyBlock
{
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	display: inline;
}

.applyNow
{
	display: inline-block;
	border: 1px solid #631D76;
	color: #ffffff !important;
	-webkit-border-radius: 3px 3px 3px 3px;
	   -moz-border-radius: 3px 3px 3px 3px;
			border-radius: 3px 3px 3px 3px;
	width: auto;
	height: auto;
	font-size: 16px;
	padding: 5px 10px;
	text-shadow: 0 1px 2px #000000;
	background-image: linear-gradient(to top, #631D76, #8E258D);
	background-color: #631D76;
	text-decoration: none;
}

.applyNow:hover
{
	border: 1px solid #00693c;
	color: #ffffff;
			box-shadow: inset 0 1px 0 0 #7AB800,inset 0 -1px 0 0 #7AB800,inset 0 0 0 1px #7AB800;
	   -moz-box-shadow: inset 0 1px 0 0 #7AB800,inset 0 -1px 0 0 #7AB800,inset 0 0 0 1px #7AB800;
	-webkit-box-shadow: inset 0 1px 0 0 #7AB800,inset 0 -1px 0 0 #7AB800,inset 0 0 0 1px #7AB800;
	background-image: none;
	background-color: #7AB800;
}

.social
{
	clear: both;
	float: right;
}

.social a
{
	color: #818a8f !important;
	padding: 0px 5px;
}

.formSearch
{
	float: right;
	margin: 9px 0px;
}

.formSearch input, .formSearch input:focus
{
/*	
	border-style: solid;
	border-color: #818a8f transparent #818a8f #818a8f;
	border-width: 2px 0px 2px 2px;
	box-shadow: none;
*/
}

.buttonSearch
{

	background-color: white;
	color: #631d76;
	border: none;
/*
	border-style: solid;
	border-color: #818a8f #818a8f #818a8f transparent;
	border-width: 2px 2px 2px 0px;
	margin-left: -3px;
*/
}

#footer-container
{
	height: 100px;
}

.masterFooter
{
	margin-top: 30px;
}

.findUs
{
	text-align: center;
}

/* Mobile Menu*/
/* Button for menu */
.box-shadow-menu{
  position: relative;
  left: -35px;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0.25em;
  width: 1.5em;
  height: 0.15em;
  background: black;
  box-shadow: 
    0 0.5em 0 0 black,
    0 1em 0 0 black;
}




.dropdownMobile{
    position: relative;
}

.dropdownMobileMenu{
	display: none;
	top: 25px;
	left: -50px;

    position: absolute;
	width: 125%;
    z-index: 1;
}



.dropdownMobileMenu .level2
{
	padding-left: 20px;
	padding: 6px;
}

.dropdownMobileMenu .level2 a
{
	color: #631D76;
}

/*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}

.accordion {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    /* border-radius:3px;  don't use round borders */ 
    background:#f7f7f7;
}

/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    padding:5px;
    display:inline-block;
    border-bottom:1px solid #1a1a1a;
    background: gray;
    transition:all linear 0.15s;
    /* Type */
    font-size:1.200em;
    text-shadow:0px 1px 0px #1a1a1a;
    color:#fff !important;
}

.accordion-section-title.active, .accordion-section-title:hover {
    background:#631D76;
	color: white;
	font-weight: bold;
    /* Type */
    text-decoration:none;
}

.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
	
}


/*----- Section Content -----*/
.accordion-section-content {
    padding:5px;
    display:none;
}

/* Normal Menu*/
.menuUnderline
{
	z-index: 999;
	border-top: 5px solid #631D76;
	margin-top: -8px;
	margin-left: -50px;
	width: 115%
}
