/* http://tympanus.net/codrops/2010/11/25/overlay-effect-menu/ */
/* Causes links in the background to stop working*/
.oe_overlay{
  background: #000;
  opacity: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.oe_full
{
  padding: 0px; /* Solves an issue where a huge padding was added at the start of the sub menu */
}

.oe_wrapper
{
	/*display: inline-block;*/
}

ul.oe_menu {
  list-style: none;
  /*position: relative;*/
  /*margin: 5px 0px 0px -51px;*/
  /*float: left;*/
  clear: both;
  padding: 0px;
}

/* Main menu buttons
   If the width is changed, the expanded menu position will move out of position
   Go to the html and change the styling 'left' position */
ul.oe_menu > li {
  /*width: 150px;*/
  height: 41px;
  padding: 2px 0px;
  /*float: left;*/
  position: relative;
  border-right: 2px solid white;
  display: inline-block;
}

li.oe_main_heading {
  /*text-align: center;*/
}

ul.oe_menu > li > a {
  /*cursor: default;*/
  display: block;
  color: #818a8f !important;
  text-decoration: none;
  /*font-weight: bold;*/
  font-size: 120%;
  /*height: 30px;*/
  padding: 5px 10px;
  margin: 1px;
  /*text-shadow: 0px 0px 5px #ccb7d4;*/
  /*opacity: 0.8;*/
  vertical-align: center;
}

ul.oe_menu > li > a:hover,
ul.oe_menu > li.selected > a {
  /*background: #631d76;*/
  color: #631d76 !important;
  /*text-shadow: 0px 0px 1px #FFF;*/
  border-bottom: 4px solid #631d76;
  opacity: 1.0;
}

ul.oe_menu div {
  position: absolute;
  top: 41px;
  background: white;
  /*opacity: 0.95;
  filter: alpha(opacity=95); For IE8 and earlier */
  width: 900px;
  /*height: 200px; HEIGHT OF THE DIV IS SET INDIVIDUALLY (because the first tab is longer than the others) */
  padding: 5px;
  display: none;
  border: 5px solid #0098db;
  z-index: 999;
}

/* Style of inside the menu */
ul.oe_menu div ul.oe_full {
  width: 100%;
  margin: 0px 0px 0px 0px;
}

ul.oe_menu div ul li a {
  text-decoration: none;
  color: #d5d2ca;
  padding: 5px;
  margin: 1px;
  height: 64px;
  display: block;
  font-size: 16px;
  background-color: #97233f;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

ul.oe_menu div ul li a:hover {
  background: #818a8f;
  color: #002c77;
}

ul.oe_menu li ul {
  list-style: none;
  float: left;
  width: 100%;
  /*width: 150px;*/
  /*margin-right: 10px;*/
}

/* For submenu header that goes horizontally */
ul.oe_horizontal{
  list-style: none;
  float: left;
  width: 150px !important;
  margin-right: 10px;
}  

li.oe_heading {
  color: #aaa;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  padding-bottom: 6px;
  border-bottom: 1px solid #ddd;
}

ul.subUl
{
  overflow: hidden;
  margin-left: 0px;
  padding: 0px; /* Solves an issue where there's a huge padding at the start of the sub menu */
}

ul.subUl li
{
  display: inline;
  float: left;
}

#quin li { width: 20%; }

/* Footer links somehow disabled by the overlay of this menu  */
/* Add the class into the footer link to enable */
.footerLink
{
  position: relative;
}

/* For handheld devices */
@media only screen and (max-device-width: 480px) {
  ul.oe_menu {
    margin: 0px 0px 10px 0px;
    /*background-color: gray;*/
  }

  ul.oe_menu > li {
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 0px;
    border-right: 0px;
  }

  ul.oe_menu > li a {
    /*pointer-events: none;*/
    font-size: 120%;
  }

  #quin li { width: 50% }

  ul.oe_menu div {
    width: 95%;
    padding: 2px;
  }

  ul.oe_menu div ul li a {
    padding: 1px;
  }

  ul.oe_menu li ul {
    padding: 0px;
    margin: 0px;
  }
}

.homeButton
{
	font-size: 110%;
}