.news
{
	margin-top: 130px;

}

.newsDate
{
	font-size: 120%;
	font-weight: bold;
}

.newsTitle
{
	background-color: #631D76;
	padding: 20px;
	color: white;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	
}

/* News Headline */
p.nhHeader
{
	padding: 20px 0px;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	background-color: #ccb7d4;
}

a.nhLink p
{
	color: black;
}

a.nhLink
{
	display: block;
	text-decoration: none;
	padding: 8px;
}

a.nhLink:hover
{
	background-color: #b3b6dd;
}

p.nhDate
{
	font-weight: bold;
	text-align: center;
	font-size: 110%;
}

p.nhTitle
{
	font-weight: bold;
}

p.nhSummary
{
	overflow: hidden;
	height: 60px;
}
