/**umb_name:Body Text*/
.BodyText{font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: lighter;
font-size: 12px;}

/**umb_name:Heading*/
.Heading{font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 24px;
font-weight: bold;}

/**umb_name:Heading-Purple*/
.HeadingPurple{font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 24px;
font-weight: bold;
color: #631D76;}

/**umb_name:Sub-Heading*/
.SubHeading{font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 18px;}

/**umb_name:Sub-Heading-Purple*/
.SubHeadingPurple{font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 18px;
color: #631D76;}

/**umb_name: Red*/
.Red{color: red;}

/**umb_name:Float Left*/
.FloatLeft{float: left;}

/**umb_name:Float Right*/
.FloatRight{float: right;}