.searchResults
{
	margin-top: 130px;
}

.searchTitle
{
	background-color: #631D76;
	padding: 20px;
	color: white;
	font-size: 24px;
	margin-bottom: 10px;
}

.foundItem
{
	color: #631D76;	
	
}

.foundItem ul 
{
	list-style-type: none;
}

.foundItem a
{
	font-size: 18px;

	color: #631D76;
	padding: 5px;
	display: block;
	text-decoration: none;
}

.foundItem a:hover
{
	background-color: #631D76;
	color: white;
}

