/*
* Created by The Cogworks
* Website: thecogworks.co.uk
*
* Created 29 June 2012
*/

/* Cookie popup */

/* Cookie landing */
#theCogworksCookieDirective { font-size: 78%; font-family: Arial, sans-serif; color: #666; line-height: 1.3; }
#theCogworksCookieDirective a {color:#348AD0;}
#theCogworksCookieDirective table { font-size: inherit; clear: both; margin: 1em 0 2em 0; border: 0; border-spacing: 0; border-collapse: collapse; }

#theCogworksCookieDirective h1, 
#theCogworksCookieDirective h2, 
#theCogworksCookieDirective h3, 
#theCogworksCookieDirective h4, 
#theCogworksCookieDirective h5{ font-family: Tahoma, Arial, sans-serif; font-weight: normal; line-height: 1.2; margin: 0.5em 0 0.4em 0; color: #348AD0; }
