﻿@*@model BCoTRestaurant.Models.ContactFormViewModel*@
@inherits Umbraco.Web.Mvc.UmbracoViewPage<BCoTRestaurant.Models.ContactFormViewModel>

@if (TempData["success"] == null)
{
    using (Html.BeginUmbracoForm<BCoTRestaurant.Controllers.ContactFormSurfaceController>("HandleFormSubmit"))
    {
        <div class="row">
			@if (@Umbraco.Field("ct_name").ToString() == "True")
            {
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "label label-danger" })
                </div>
            }

            @if (@Umbraco.Field("ct_phoneNumber").ToString() == "True")
            {
                <div class="form-group">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Contact Number" })
                    @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "label label-danger" })
                </div>
                <script type="text/javascript">
                    jQuery(function ($) {
                        $("#PhoneNumber").mask("99999 999999", { placeholder: " " });
                    });
                </script>
            }

            @if (@Umbraco.Field("ct_emailAddress").ToString() == "True")
            {
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Address" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "label label-danger" })
                </div>
            }

            @if (@Umbraco.Field("ct_dateAndTime").ToString() == "True")
            {
                <div class="form-group">
                    <div class="form-inline">
                        <div class="input-group date" id="datetimepicker1">
                            @Html.TextBoxFor(m => m.DateTime, "{0:d MM yyyy HH:mm}" , new { @class = "form-control", placeholder = "Date and Time" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.DateTime, "", new { @class = "label label-danger" })
                </div>
                <script type="text/javascript">
                    $(function () {
                        var today = new Date();
                        var minimumDate = new Date();
                        minimumDate.setDate(today.getDate() + 14);
                        $('#datetimepicker1').datetimepicker({
                            format: 'DD/MM/YYYY HH:mm',
                            sideBySide: true,
                            daysOfWeekDisabled: [0, 6],
                            minDate: minimumDate
                        });
                    });
                </script>
            }

            @*<div class="form-group">
                <div class="input-group date" id="datetimepicker1">
                    <input type="text" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker1').datetimepicker();
                });
            </script>*@

            @if (@Umbraco.Field("ct_diners").ToString() == "True")
            {
                <div class="form-group">
                    <div class="form-inline">
                        @Html.TextBoxFor(m => m.Diners, new { @class = "form-control", placeholder = "Number of People" })
                        @Html.ValidationMessageFor(m => m.Diners, "", new { @class = "label label-danger" })
                    </div>
                </div>
                <script type="text/javascript">
                    jQuery(function($){
                        $("#Diners").mask("999", { placeholder: " " });
                    });
                </script>
            }

            @if (@Umbraco.Field("ct_subject").ToString() == "True")
            {
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", placeholder = "Subject", rows = "5" })
                    @Html.ValidationMessageFor(m => m.Subject, "", new { @class = "label label-danger" })
                </div>
            }

            @if (@Umbraco.Field("ct_message").ToString() == "True")
            {
                <div class="form-group">
                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control", placeholder = "Your Message", rows = "5" })
                    @Html.ValidationMessageFor(m => m.Message, "", new { @class = "label label-danger" })
                </div>
            }
            
            @if (!String.IsNullOrEmpty(@Umbraco.Field("ct_recipient").ToString()))
            {
                TempData["recipientEmail"] = @Umbraco.Field("ct_emailRecipient");
            }
            else
            {
                TempData["recipientEmail"] = "eilpSupport@bcot.ac.uk";
            }

            @Html.Hidden("EmailRecipient", TempData["recipientEmail"])

            @if (!String.IsNullOrEmpty(@Umbraco.Field("ct_ccEmailRecipient").ToString()))
            {
                TempData["ccRecipientEmail"] = @Umbraco.Field("ct_ccEmailRecipient");
                @Html.Hidden("CCRecipient", TempData["ccRecipientEmail"]);
            }

            @{
                var strMessage1 = "Thank you for contacting The Restaurant at BCoT.";
                var strMessage2 = "We will check our availability and respond to you as soon as we can.";
                var strMessage3 = "Please note, this email is not a confirmation of your booking request.";
                var strLogo = "<br /><br /><br /><img src='https://applications.bcot.ac.uk/styles/images/bcotrestaurant_logo.png'/>";
                var strAutoMessage = String.Format("<div style='font-family: arial; font-size: 90%'>{0} {1} {2} {3}</div>", strMessage1, strMessage2, strMessage3, strLogo);
            }

            @if (!String.IsNullOrEmpty(@Umbraco.Field("ct_automatedMessage").ToString()))
            {
                TempData["AutomatedMessage"] = String.Format("<div style='font-family: arial; font-size: 90%'>{0}{1}</div>", @Umbraco.Field("ct_automatedMessage"), @strLogo);
            }
            else
            {
                TempData["AutomatedMessage"] = @strAutoMessage;
            }

            @Html.Hidden("AutoMessage", TempData["AutomatedMessage"])
        </div>
        <div class="row">
            <button id="contact-submit" type="submit" class="btn applyNow">Send</button>
        </div>
    }
}
else
{
    <p>We'll be in touch soon</p>
}