﻿@*
* Created by The Cogworks
* Website: thecogworks.co.uk
*
* Created 29 June 2012
*@

@using umbraco.MacroEngines

@{
    <style>
        #cookiesdirective{text-align:center; font-family:Arial;}
        /* These are the default values, using these, when displayed on a mobile device the message and the button are not shown KJB 13/01/2017
		#theCogworksCookieDirective_footer { width: 1000px; background-color: #323232; display: inline-block; font-size: 12px; margin: 0 auto; }
        #theCogworksCookieDirective_footer p {  color: white; width: 850px; display:inline-block;  float:left; padding-top:10px;}
        #theCogworksCookieDirective_footer a {color: #A6A6A6; text-decoration: none;}
		*/
		
		#theCogworksCookieDirective_footer { width: 100%; background-color: #323232; display: inline-block; font-size: 12px; margin: 0 auto; }
        #theCogworksCookieDirective_footer p {  color: white; width: 80%; display:inline-block;  float:left; padding-top:10px;}
        #theCogworksCookieDirective_footer a {color: #A6A6A6; text-decoration: none;}

        #theCogworksCookieDirective_buttons{overflow:hidden; display:inline-block; height:40px; background-color:#797F85;width:140px;}

        #theCogworksCookieDirective_buttons input { display:inline-block; height: 100%;background-color:#797F85; border: 0px; color: white;  }
        #theCogworksCookieDirective_buttons input:hover { background: #858A90; }
        
    </style>
    
    <!--[if lte IE 7]>
        <style>
            #theCogworksCookieDirective_footer p{width:800px}
            #theCogworksCookieDirective_buttons{width:195px}
            #theCogworksCookieDirective_buttons input{padding-top:15px;}
        </style>
    <![endif]-->
    
               
    // include the directive script
    <script type="text/javascript" src="/Scripts/cookieDirective.js"></script>

    <script>
        function cookiesDirectiveScriptWrapper() {
            // Cookie creating scripts etc here.... 
        
        }

        // assign text
        var cookieText = '@Html.Raw(GetCookieText())';
        var cookieTextButton = '@Html.Raw(Dictionary["TheCogworksCookieDirective_PopupButtonText"])';

        // initialise cookie directive
        cookiesDirective('bottom');

    </script>
    
 }


@functions
{
    /// <summary>
    /// Gets cookie text from dictionary item.
    /// Replaces the string {TheCogworks_CookieLanding} with correct Url.
    /// </summary>
    /// <returns></returns>
    string GetCookieText()
    {
        var dicItem = Dictionary["TheCogworksCookieDirective_PopupText"];

        return dicItem.Replace("{TheCogworksCookieDirective_Landing}", GetLanding().Url);
    }



    /// <summary>
    /// Gets the landing node by doing a breadth first search from root of this tree.
    /// </summary>
    /// <returns></returns>
    DynamicNode GetLanding()
    {
        DynamicNode current = new DynamicNode();
        var q = new List<DynamicNode>();

        // get root of this tree
        var root = new DynamicNode(Model.Id).AncestorOrSelf(1);

        // add root to queue
        q.Add(root);

        for (int i = 0; i < q.Count; i++)
        {
            current = q[i];

            // found node so break!
            if (current.NodeTypeAlias == "TheCogworksCookieDirective_Landing") { break; }

            // traverse children
            q.AddRange(current.GetChildrenAsList.Items);
        }

        return current;
    }
}
