﻿@*
* Created by The Cogworks
* Website: thecogworks.co.uk
*
* Created 29 June 2012
*@

@using uHelpsy.Core
@using System.Linq
@using umbraco.MacroEngines
@using umbraco.cms.businesslogic
@using umbraco.cms.businesslogic.web
@{
    IEnumerable<DynamicNode> nodes;
    if (Parameter.CookieType == "Internal")
    {
        @RenderCookies("TheCogworksCookieDirective_ContainerInternal", "TheCogworksCookieDirective_TableTitleInternalCookieName", "TheCogworksCookieDirective_TableTitleInternalCookieDesc")
    }
    else
    {
        @RenderCookies("TheCogworksCookieDirective_ContainerExternal", "TheCogworksCookieDirective_TableTitleExternalCookieName", "TheCogworksCookieDirective_TableTitleExternalCookieDesc")
    }
}



@**
* Render cookies
*@
@helper RenderCookies(string containerAlias, string dicCol1, string dicCol2)
{ 
    var nodes = GetNodes(containerAlias);
    if (!nodes.Any()) { return; }
    
    <table class="theCogworksCookieDirective_table" border="1" cellspacing="2" cellpadding="2" width="647">
        <tbody>
            <tr>
                <td width="30%">
                    <h3>
                        @Dictionary[dicCol1]</h3>
                </td>
                <td width="70%">
                    <h3>
                        @Dictionary[dicCol2]</h3>
                </td>
            </tr>
            @foreach (var node in nodes)
            {
                <tr>
                    <td valign="top" width="30%">
                        @node.GetPropertyValue("theCogworksCookieDirective_CookieDisplayName")
                    </td>
                    <td valign="top" width="70%">
                        @Html.Raw(node.GetPropertyValue("theCogworksCookieDirective_CookieDisplayDescription"))
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



@functions
{ 

    /// <summary>
    /// Gets nodes from container.
    /// 
    /// Assumes the current node is the landing node.
    /// </summary>
    /// <param name="containerAlias"></param>
    /// <returns></returns>
    IEnumerable<DynamicNode> GetNodes(string containerAlias)
    {
        // get internal cookies! 
        var nodes = new DynamicNode(Model.Id)
                            .GetChildrenAsList
                            .Items
                            .Single(x => x.NodeTypeAlias == containerAlias)
                            .Descendants("TheCogworksCookieDirective_Cookie")
                            .Items
                            .Where(x => x.GetPropertyValue("umbracoNaviHide") != "1");
        return nodes;
    
    }
}
