﻿<%@ Master Language="C#" MasterPageFile="~/umbraco/masterpages/default.master" AutoEventWireup="true" %>
<%--
Created by The Cogworks
Website: thecogworks.co.uk

Created 29 June 2012
--%>

<asp:Content ContentPlaceHolderID="ContentPlaceHolderDefault" runat="server">
    <head>
        <link href="/css/TheCogworksCookieDirective.css" rel="stylesheet" type="text/css" />
    </head>
    
    <div id="theCogworksCookieDirective">
        <h1><umbraco:Item Field="theCogworksCookieDirective_ContentTitle" runat="server" /></h1>

        <%--content body - includes cookie tables - REQUIRED --%>
        <div class="theCogworksCookieDirective_body">
            <umbraco:Item Field="theCogworksCookieDirective_ContentBody" runat="server" />
        </div>


        <%--popup - put this at the bottom of your base template --%>
        <umbraco:Macro Alias="TheCogworksCookieDirective_ShowCookieDirective" runat="server" />
    </div>
</asp:Content>
