﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.FolderArticles>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

@section header{
	@{
		UmbracoHelper umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
		IPublishedContent content = umbracoHelper.TypedContentSingleAtXPath("//homepage");
		var vCSS = content.GetPropertyValue("cSSVersion");
	}
	
	<link rel="stylesheet" href="/css/BCoTArticle.css?v=@vCSS" />
}

<div class="container bcotarticle">

	<div class="row articleTitle">
		<div class="col-md-12">@Umbraco.Field("pageName")</div>
	</div>
	
	<div>
		@CurrentPage.GetGridHtml("layout")
	</div>
</div>