﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.BookingPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

@section header{
	@{
		UmbracoHelper umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
		IPublishedContent content = umbracoHelper.TypedContentSingleAtXPath("//homepage");
		var vCSS = content.GetPropertyValue("cSSVersion");
	}
	
	<link rel="stylesheet" href="/css/BCoTArticle.css?v=@vCSS" />
}

<div class="container bcotarticle">
	<div class="row articleTitle">
		<div class="col-xs-12">@Umbraco.Field("pageName")</div>
	</div>
	<div>
		<div class="col-md-4">
			<div id="resmio-the-restaurant-bcot"></div> 
			<script>(function(d, s) { var js, rjs = d.getElementsByTagName(s)[0]; js = d.createElement(s); js.src = "//static.resmio.com/static/en-gb/widget.js#id=the-restaurant-bcot&amp;width=275px&amp;height=400px"; rjs.parentNode.insertBefore(js, rjs); }(document, "script")); </script> 
			</div>
		<div class="col-md-8">
			@CurrentPage.GetGridHtml("layout")
		</div>
	</div>
	<!-- Don't think the Google map works here
	<div class="row">
		<div class="col-md-12">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9986.321090863552!2d-1.095904!3d51.263637!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa185131bd75c903e!2sBCoT+-+Basingstoke+College+Of+Technology!5e0!3m2!1sen!2suk!4v1486125610941" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
	-->
</div>