﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
@section header{
	@{
		UmbracoHelper umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
		IPublishedContent content = umbracoHelper.TypedContentSingleAtXPath("//homepage");
		var vCSS = content.GetPropertyValue("cSSVersion");
	}
	
	<link rel="stylesheet" href="/css/contact.css?v=@vCSS" />
}
<div class="container contact">
	<div class="row contactTitle">
		@Umbraco.Field("pageName")
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3">		
			@Html.Action("Index", "ContactFormSurface")
		</div>
	</div>
</div>