﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Event>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}


@section header{
	@{
		UmbracoHelper umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
		IPublishedContent content = umbracoHelper.TypedContentSingleAtXPath("//homepage");
		var vCSS = content.GetPropertyValue("cSSVersion");
	}
	
	<link rel="stylesheet" href="/css/event.css?v=@vCSS" />
}

<div class="container event">
	<div class="row eventTitle">
		<div class="col-xs-12" title="@Umbraco.Field("evt_summary")">@Umbraco.Field("pageName")</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<p class="eventDate">@Convert.ToDateTime(@Umbraco.Field("evt_startDate").ToString()).ToString("dddd, dd MMMM yyyy")</p>
			<p class="eventDate">Start Time : @Convert.ToDateTime(@Umbraco.Field("evt_startDate").ToString()).ToString("HHmm")</p>
			@CurrentPage.GetGridHtml("evt_content")
		</div>
		<div class="col-xs-12 col-md-4">
			<p class="evtHeader">Forthcoming Events</p>

			@{
				@*
					// Another method to get content by ID
					UmbracoHelper umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
					// Multiple nodes
					IEnumerable<IPublishedContent> content = umbracoHelper.TypedContentAtXPath("//news");
					// Single node
					IPublishedContent content = umbracoHelper.TypedContentSingleAtXPath("//" + alias);
				*@
				
				var lstEvents = CurrentPage.Site().Descendants("event").Where("visible").OrderBy("evt_startDate descending");
				
				@* Only get future events *@
				lstEvents = lstEvents.Where("evt_startDate >= @0", DateTime.Now).OrderBy("evt_startDate descending");
				
				foreach(var events in lstEvents)
				{
					DateTime dtEvents = Convert.ToDateTime(events.evt_startDate.ToString());
					<a class="evtLink" href="@events.Url">
						<p class="evtDate">@dtEvents.ToString("dddd, dd MMMM yyyy")</p>
						<p class="evtTitle">@events.Name</p>
						<p class="evtSummary">@events.evt_summary</p>
					</a>
					<hr />
				}
			}

		</div>
	</div>
</div>