﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Gallery>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

@section header{
	@{
		UmbracoHelper umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
		IPublishedContent content = umbracoHelper.TypedContentSingleAtXPath("//homepage");
		var vCSS = content.GetPropertyValue("cSSVersion");
	}
	
	<link rel="stylesheet" href="/css/gallery.css?v=@vCSS" />
}

<div class="container bcotGallery">
	<div class="row galleryTitle">
		<div class="col-md-12">@Umbraco.Field("title")</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">@Umbraco.Field("description")</div>
	</div>
	
	<div class="row">
		<div id="photos">
		@{
			var lstGallery = CurrentPage.Children;
				
				foreach(var galleryImage in lstGallery)
				{
					@*<div class="col-md-4 galleryColumn">
						<a href="@galleryImage.destinationurl" title="@galleryImage.description">
							<img class="galleryImage" src="@Umbraco.Media(@galleryImage.image).Url" alt="@galleryImage.description" />
						</a>
						
						<p>@galleryImage.fullDescription</p>
					</div>*@
					<img class="galleryImage" src="@Umbraco.Media(@galleryImage.image).Url" alt="@galleryImage.description" />
				}
		}
	</div>