﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Homepage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";

	@* Build link boxes and its styles at the bottom of the homepage *@
	System.Text.StringBuilder sbLinkBoxes = new System.Text.StringBuilder();
	System.Text.StringBuilder sbLinkCSS = new System.Text.StringBuilder();
	
	sbLinkCSS.AppendLine("<style type=\"text/css\">");
	
	@* Only allow the first four link boxes *@
	var vLinkBoxes = CurrentPage.Site().Descendants("box").Where("visible").Take(4);
	var count = 1;

	foreach(var box in vLinkBoxes)
	{
		var vClass = String.Format("divSBox{0}", count);
		var vBackgroundImage = String.Empty;
		var vURL = box.boxExtURL;
		
		if(Umbraco.TypedMedia(box.boxImage) != null)
		{
			vBackgroundImage = Umbraco.TypedMedia(box.boxImage).Url;
		}

		@* Check if there's a content picked, if not, use the external URL *@
		if(!String.IsNullOrEmpty(box.boxURL))
		{
			vURL = box.boxURL;
		}
		
		@* Construct boxes *@
		sbLinkBoxes.AppendLine("	<div class=\"col-xs-12 col-md-3\">");
		sbLinkBoxes.AppendFormat("		<a href=\"{0}\" class=\"{1}\">", vURL, vClass).AppendLine();
		sbLinkBoxes.AppendFormat("			<h5>{0}</h5>", box.Name).AppendLine();
		sbLinkBoxes.AppendLine("		</a>");
		sbLinkBoxes.AppendLine("	</div>");
		
		@* Construct styles *@
		sbLinkCSS.AppendFormat("		a.divSBox{0}", count).AppendLine();
		sbLinkCSS.AppendLine("		{");
		sbLinkCSS.AppendFormat("			background: #{0} url(\"{1}\");", box.boxColor, vBackgroundImage).AppendLine();
		sbLinkCSS.AppendFormat("			color: #{0};", box.boxFontColor).AppendLine();
		sbLinkCSS.AppendLine("		}");

		count++;
	}
	
	sbLinkCSS.AppendLine("</style>");
}

@section header{
<!-- Content here -->
	<link rel="stylesheet" href="css/homepage.css" />
	<link rel="stylesheet" type="text/css" href="/css/carousel-custom.css" />
	
	@* Style sheet for navigations *@
	@Umbraco.RenderMacro("NaviCss")
	
	<script type="text/javascript">
		@* Create cookie *@
		function setCookie(cname, cvalue, exdays)
		{
			var d = new Date();
			d.setTime(d.getTime() + (exdays*24*60*60*1000));
			var expires = "expires = " + d.toGMTString();
			document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
		}

		@* Get cookie value *@
		function getCookie(cname)
		{
			var name = cname + "=";
			var decodedCookie = decodeURIComponent(document.cookie);
			var ca = decodedCookie.split(';');
			for(var i = 0; i < ca.length; i++)
			{
				var c = ca[i];
				while (c.charAt(0) == ' ')
				{
					c = c.substring(1);
				}
				if(c.indexOf(name) == 0)
				{
					return c.substring(name.length, c.length);
				}
			}
			return "";
		}
	</script>

	@Html.Raw(sbLinkCSS.ToString())
}

@*
	Insert this section at the bottom of master page, just after link to jQuery
	This is to display any popup message on page load
*@
@section afterjQuery{
	@if(@Umbraco.Field("modalEnable").ToString() == "True")
	{
		@* Check if the ID matches cookie ID *@
		var vID = @Umbraco.Field("modalID");
		
		<script type="text/javascript">
			$(document).ready(function(){
			
				@* check to see if the modal message should be set *@
				var user = getCookie("modalMessage");
				if(user == "" || user != "@vID")
				{
					$('#myModal').modal('show');

					@* Create cookie for popup message with 1 day expiration *@
					setCookie("modalMessage", @vID, 1);
				}
				
				
				@* now check for previously visitied departments *@
				var prevDept = getCookie("departmentHistory");
				var strSplit = prevDept.split(",");
				document.getElementById("favDept").innerHTML = strSplit[0].toString();
				document.getElementById("favLink").href=strSplit[2];
			});
		</script>
	}
}

@section modalMessage{
	@{
		UmbracoHelper umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
		IPublishedContent content = umbracoHelper.TypedContentSingleAtXPath("//homepage");
	}
	@if(@content.ShowToVisitor())
	{
		<div class="modal fade in" id="myModal" tabindex="-1" role="dialog">
	  		<div class="modal-dialog" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        		<h4 class="modal-title">@Umbraco.Field("modalTitle")</h4>
		      		</div>
		    	  	<div class="modal-body">
			    	    <p>@Umbraco.Field("modalMessage")</p>
				    </div>
			    	<div class="modal-footer">
		    	    	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      	</div>
				</div><!-- /.modal-content -->
	  		</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	}
}

<div class="container-fluid" style="border-top: 5px solid #631d76">
	<div class="row">
		<div class="col-xs-12">
			@{
				@*
					1172 - ID for the slider folder
					var vSliderImage = Umbraco.Content(1172).Children.Where("visible");
					Can only have one slider folder - removed homepage permission from being able to create slider folder
				*@

				var vSliderImage = CurrentPage.Site().Descendants("sliderImages").Where("!sliderHide");
				var imageCount = 0;
			}
			<div id="carousel-main" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					@{
						var lp = 0;
						var strActive = "active";
						foreach(var img in vSliderImage)
						{
							<li data-target="#carousel-main" data-slide-to="@lp" class="@strActive"></li>
							
							strActive = ""; <!-- Only the first one needs to be active -->
							lp++;
						}
					}
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">					

				@foreach(var img in vSliderImage)
				{
					System.Text.StringBuilder htmlNode = new System.Text.StringBuilder();
					System.Text.StringBuilder captionNode = new System.Text.StringBuilder();
					
					var firstDiv = "					<div class='item'>";
					
					if(img.IsFirst())
					{
						firstDiv = "					<div class='item active'>";
					}

					htmlNode.AppendLine(firstDiv);
					htmlNode.AppendFormat("						<img src='{0}' alt='{1}' class='img-responsive' />", Umbraco.TypedMedia(img.sliderImage).Url, Umbraco.TypedMedia(img.sliderImage).Name).AppendLine();
					
					/* Get Caption */
					var vCaptionTitle = string.Empty;

					if(img.HasValue("sliderCaptionTitle"))
					{
						captionNode.AppendLine("						<div class='carousel-caption'>");
						captionNode.AppendFormat("							<h3>{0}</h3>", img.sliderCaptionTitle).AppendLine();
						captionNode.AppendFormat("							<p>{0}</p>", img.sliderCaption).AppendLine();
						captionNode.AppendLine("						</div>");
						htmlNode.AppendLine(captionNode.ToString());
					}					

					/* Button - Default value - Learn More */
					var vButtonText = "Learn More";
					var vURL = "#";

					if(img.HasValue("sliderButtonText"))
					{
						vButtonText = img.sliderButtonText;
					}
					
					/* Get URL - Internal content has priority over external URL */
					if(img.HasValue("sliderURL"))
					{
						vURL = Umbraco.TypedContent(img.sliderURL).Url;
					}
					else if(img.HasValue("sliderExtURL"))
					{
						vURL = img.sliderExtURL;
					}
					
					htmlNode.AppendFormat("						<a href='{0}'>{1}</a>", vURL, vButtonText).AppendLine();
					
					htmlNode.AppendLine("					</div>");
					@Html.Raw(htmlNode.ToString());
				}

				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-main" role="button" data-slide="prev">
					<i class="fa fa-chevron-left" aria-hidden="true"></i>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#carousel-main" role="button" data-slide="next">
					<i class="fa fa-chevron-right" aria-hidden="true"></i>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	@Umbraco.RenderMacro("Navi")
	<div class="container-fluid" style="border-top: 5px solid #631d76"></div>
</div>
<div class="container homepageContent">
	<div class="col-md-2"></div>
	<div class="col-md-8 col-xs-12">
		@Umbraco.Field("bodyText")
	</div>
	<div class="col-md-2"></div>
</div>
<div class="text-center">
	<a id="bcotTwitter" class="twitter-timeline" data-chrome="noheader noscrollbar" data-width="800" data-height="500" href="https://twitter.com/restaurantbcot" >Tweets by The Restaurant at BCoT</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

	@*
	<div class="row">
		@Html.Raw(@sbLinkBoxes.ToString())
	</div>
	*@
	@Umbraco.RenderMacro("TheCogworksCookieDirective_ShowCookieDirective")
