﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--[endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>@Umbraco.Field("pageName")</title>
	<meta name="keywords" content="@Umbraco.Field("md_keywords")">
	<meta name="description" content="@Umbraco.Field("md_descriptions")">
	<meta name="author" content="@Umbraco.Field("md_author")">
	
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
	@{
		UmbracoHelper umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
		IPublishedContent content = umbracoHelper.TypedContentSingleAtXPath("//homepage");
		var vCSS = content.GetPropertyValue("cSSVersion");
		var slTwitter = content.GetPropertyValue("twitterLink");
		var slFacebook = content.GetPropertyValue("facebookLink");
		var slInstagram = content.GetPropertyValue("instagramLink");
		var slYoutube = content.GetPropertyValue("youtubeLink");
	}
	
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
	<link rel="stylesheet" href="/css/normalise.css?v=@vCSS" />
	<link rel="stylesheet" href="/css/site.css?v=@vCSS" />
	<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css?v=@vCSS" />
	<link rel="stylesheet" href="/css/navigationMenu.css?v=@vCSS" />
	<link rel="stylesheet" href="/css/RTE.css?v=@vCSS" />
    <link href="~/Content/bootstrap.min.css?v=@vCSS" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css?v=@vCSS" rel="stylesheet" />
	
	@* Boot strap 3
	<link href="/css/bootstrap.min.css" rel="stylesheet">*@

    <script src="~/scripts/jquery-3.1.1.min.js"></script>
    <script src="~/scripts/what-input.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
	<script src="~/Scripts/jquery.bcSwipe.min.js"></script>

    @*
    <script src="@Url.Content(" ~ />Umbraco/lib/bootstrap/js/bootstrap.2.3.2.min.js")"/></script>*@
	@*<link href="@Url.Content("~/Umbraco/lib/bootstrap/css/bootstrap.min.3.0.1.css")" rel="stylesheet" />*@
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->	

	<script src="~/scripts/libs/modernizr-2.0.6.min.js"></script>

	<link rel="stylesheet" href="/css/master.css?v=@vCSS" />
	<link rel="stylesheet" href="/css/macroStyling.css?v=@vCSS" />
	<link rel="stylesheet" href="/css/bootstrap-custom.css?v=@vCSS" />
	
	@RenderSection("header", false)
	
	@if(CurrentPage.AncestorOrSelf().Url != "/")
	{
		@Umbraco.RenderMacro("NaviCss")
	}
</head>
<body>
	@RenderSection("modalMessage", false)
	<div id="header-container" class="container">
		<div class="row">
			<div class="col-md-4 hidden-xs hidden-sm">
				<div class="contactUs"><i class="fa fa-cutlery"></i> Bookings: 01256 306306</div>
				<div class="applyBlock">
					<a class="btn btn-default applyNow" type="button" href="/booking-enquiry-form">Enquire Now</a>
					<a class="btn btn-default applyNow" type="button" href="/bookings">Book Now</a>
				</div>
			</div>
			@*
			<div class="col-xs-12 visible-xs visible-sm mobileHeader" >
				Basingstoke College of Technology
			</div>
			*@
			@*<div class="col-md-4 hidden-xs hidden-sm text-center">*@
			<div class="col-md-4 col-xs-12 text-center">
				<a href="~/">
					<img class="imgLogo" src="@Umbraco.Media(1332).Url" alt="BCoT Restaurant Logo" />
				</a>
			</div>
			<div class="col-xs-12 visible-xs visible-sm text-center" >
				<div class="contactUs"><i class="fa fa-cutlery"></i> Bookings: 01256 306306</div>
			</div>
			
			<div class="col-md-4 hidden-xs hidden-sm">
				
				<form class="formSearch" action="/SiteSearch/" method="GET">
					<div>
						<input type="text" size="25" placeholder="Search the site ..." name="querySite" />
						<button class="buttonSearch"><i class="fa fa-search"></i></button>
					</div>

				</form>

				<div class="social">
					<a href="@slTwitter"><i class="fa fa-twitter fa-2x"></i></a>
					<a href="@slFacebook"><i class="fa fa-facebook fa-2x"></i></a>
					<a href="@slInstagram"><i class="fa fa-instagram fa-2x"></i></a>
					<!--<i class="fa fa-snapchat fa-2x"></i> Not currently required-->
					<a href="@slYoutube"><i class="fa fa-youtube fa-2x"></i></a>
					<!--<a href="https://www.linkedin.com/company/basingstoke-college-of-technology/"><i class="fa fa-linkedin fa-2x"></i></a>-->
				</div>
			</div>
		</div>
		
		
		
		<!--
		<div class="row hidden-xs hidden-sm" style="background-image: url(@Umbraco.Media(1351).Url);background-size: 40px 40px;background-repeat: repeat-x;height: 40px; ">
		</div>
		-->
		
		
		@if(CurrentPage.AncestorOrSelf().Url != "/")
		{
			@Umbraco.RenderMacro("Navi")
			<div class= "container-fluid menuUnderline hidden-xs hidden-sm">
			</div>


		}
		<div class="row">
			<div class="col-xs-12 visible-xs visible-sm">
				<div class="dropdownMobile">
					<span class="box-shadow-menu mobileMenu">&nbsp;&nbsp;&nbsp;</span>
					<div class="dropdownMobileMenu accordion">
						<div class="accordion-section">
							<a class="accordion-section-title" href="~/">Home</a>
							<a class="accordion-section-title" href="~/bookings">Book Now</a>
							<a class="accordion-section-title" href="~/booking-enquiry-form">Enquire Now</a>
							@{
								/*
									Get grouping contents where grp_navigation is True
								*/
								var sectionNumber = 0;
								var selection = CurrentPage.Site().Children().Where("isNavigation");
								
								foreach(var item in selection){
									sectionNumber++;
									var strHRef = "#accordion-" + sectionNumber;
									var strShowAdditional = item.isDepartmentMenu;

									if(@item.Children.Count() > 0)
									{
										<a class="accordion-section-title" href="@strHRef">@item.Name</a>

										var subMenu = "accordion-" + sectionNumber;
										<div id="@subMenu" class="accordion-section-content">

											@if (@strShowAdditional)
											{
												<div class="level2">
													<a href="/course-list?listtype=A-Z">A - Z</a> 
												</div>
												<div class="level2">
													<a href="/course-list?listtype=FT">Full-Time Courses</a> 
												</div>
												<div class="level2">
													<a href="/course-list?listtype=PT">Part-Time</a> 
												</div>
												<div class="level2">
													<a href="/course-list?listtype=HE">Higher Education</a> 
												</div>
												<div class="level2">
													<a href="/course-list?listtype=APPRENTICE">Apprenticeships</a> 
												</div>
											}
										
											@foreach(var sub in @item.Children)
											{
												<div class="level2">
													<a href="@sub.Url">@sub.Name</a> 
												</div>
											}
										</div>
									}
									else
									{
										<a class="accordion-section-title" href="@item.Url">@item.Name</a>
									}
								}
							}
						</div> <!-- End Accordian Section -->
					</div> <!-- End Accordian -->
				</div>
			</div>
		</div>
	</div>
	
	<div id="main-container">

		@RenderBody()
	</div>

	<div class="container-fluid" style="border-top: 5px solid #631d76">
	</div>
	<div class="container masterFooter">
		<div class="row">
			<div class="col-md-4 hidden-xs">

				@{
				var selectionLogos = CurrentPage.Site().FirstChild("footerImages").Children("footerLogo").Where("Visible");
				}

				@foreach(var item in selectionLogos){
					var imageWidth = @item.logoWidth + "px";
					var targetUrl = @item.destination;
					<div class="col-md-2 logoImage">
						<a target="_blank" href="@targetUrl">
							<img src="@Umbraco.Media(@item.image).Url" width="@imageWidth" />
						</a>
					</div>
				}
			
			</div>
			<div class="col-md-4 hidden-xs">
				<div class="findUs">
					<a class="btn btn-default applyNow" type="button" href="https://goo.gl/maps/hLvwF9CMrVr" target="_blank">Find Us</a>
				</div>
			</div>
			
			<div class="col-md-4 col-xs-12">
				<div class="pull-right">
					&#64;Copyright 2017 Basingstoke College of Technology<br />
					Worting Road, RG21 8TN<br />
					<div>
					Tel: <a href="tel:01256 354141">01256 354141</a>
					 
					</div>
					<div>
						<a href="mailto:information@bcot.ac.uk">information&#64;bcot.ac.uk</a>
					</div>
					<div class="hidden-md hidden-lg">
						<a class="btn btn-default applyNow" type="button" href="https://goo.gl/maps/hLvwF9CMrVr" target="_blank">Find Us</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	@RenderSection("afterjQuery", false)
	<script type="text/javascript">
        $(document).ready(function () {
			$(".dropdownMobileMenu").hide();
			$(".mobileMenu").click(function() {
				$(".dropdownMobileMenu").toggle();
			});
        });
		
		$(document).ready(function() {
			function close_accordion_section() {
				$('.accordion .accordion-section-title').removeClass('active');
				$('.accordion .accordion-section-content').slideUp(300).removeClass('open');
			}

			$('.accordion-section-title').click(function(e) {
				// Grab current anchor value
				var currentAttrValue = $(this).attr('href');

				if($(e.target).is('.active')) {
					close_accordion_section();
				}else {
					close_accordion_section();

					// Add active class to section title
					$(this).addClass('active');
					// Open up the hidden content panel
					$('.accordion ' + currentAttrValue).slideDown(300).addClass('open'); 
				}

				e.preventDefault();
			});
		});
</script>

	<script type="text/javascript" src="/scripts/navigationMenu.js"></script>
</body>
</html>