﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.News>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

@section header{
	@{
		UmbracoHelper umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
		IPublishedContent content = umbracoHelper.TypedContentSingleAtXPath("//homepage");
		var vCSS = content.GetPropertyValue("cSSVersion");
	}
	
	<link rel="stylesheet" href="/css/news.css?v=@vCSS" />
}

<div class="container news">

	<div class="row newsTitle">
		<div class="col-xs-12" title="@Umbraco.Field("nws_summary")">@Umbraco.Field("pageName")</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<p class="newsDate">@Convert.ToDateTime(@Umbraco.Field("nws_date").ToString()).ToString("dddd, dd MMMM yyyy")</p>
			@CurrentPage.GetGridHtml("nws_content")
		</div>
		<div class="col-xs-12 col-md-4">
			<p class="nhHeader">News Headline</p>

			@{
				@*
					// Another method to get content by ID
					UmbracoHelper umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
					// Multiple nodes
					IEnumerable<IPublishedContent> content = umbracoHelper.TypedContentAtXPath("//news");
					// Single node
					IPublishedContent content = umbracoHelper.TypedContentSingleAtXPath("//" + alias);
				*@
				
				var lstNews = CurrentPage.Site().Descendants("news").Where("visible").OrderBy("nws_date descending");

				foreach(var news in lstNews)
				{
					DateTime dtNews = Convert.ToDateTime(news.nws_date.ToString());
					<a class="nhLink" href="@news.Url">
						<p class="nhDate">@dtNews.ToString("dddd, dd MMMM yyyy")</p>
						<p class="nhTitle">@news.Name</p>
						<p class="nhSummary">@news.nws_summary</p>
					</a>
					<hr />
				}
			}

		</div>
	</div>
</div>