﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@section header{
	@{
		UmbracoHelper umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
		IPublishedContent content = umbracoHelper.TypedContentSingleAtXPath("//homepage");
		var vCSS = content.GetPropertyValue("cSSVersion");
	}
	
	<link rel="stylesheet" href="/css/SiteSearch.css?v=@vCSS" />
}

@{
	var searchQuery = Request.QueryString["querySite"];

	if (!string.IsNullOrEmpty(searchQuery))    
	{
		<div class="container searchResults">
			<div class="row searchTitle">
				<div class="col-md-12">
					Your search results for: <strong>@searchQuery</strong>
				</div>
			</div>
			<div class="row foundItem">
				<div class="col-md-12">
					<ul>
						@foreach (var result in Umbraco.Search(searchQuery))
						{
							<li>
								<a href="@result.Url">@result.Name</a>
							</li>
						}
					</ul>
				</div>
			</div>
		</div>

	}
}


