﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
	<div class="row twitterFeed">
		<p>
			<span class="Heading">Latest Twitter News</span>
		</p>
		<div class="text-center col-xs-12 col-md-8">
			<a id="bcotTwitter" class="twitter-timeline" data-chrome="noheader noscrollbar" data-width="800" data-height="500" href="https://twitter.com/restaurantbcot" >Tweets by The Restaurant at BCoT</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>	
}