﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

<!-- Navigation Menu -->
<div class="row text-center hidden-xs hidden-sm">
	<div class="col-xs-12">
		<div class="oe_wrapper">
			<ul id="oe_menu" class="oe_menu">
				<li class="oe_main_heading">
					@*<a href="~/"><i class="fa fa-home homeButton" aria-hidden="true"></i></a>*@
					<a href="~/">Home</a>
				</li>
			@{
				@*
					Get contents where isNavigation is True
				*@
				var selection = CurrentPage.Site().Children().Where("isNavigation");
				var count = 1;

				foreach(var item in selection){
					var vMainURL = item.Url;
					if(item.HasValue("redirect"))
					{
						vMainURL = Umbraco.TypedContent(item.redirect).Url;
					}
					
					<li class="oe_main_heading">
						<a href="@vMainURL">@item.Name</a>
					@if(@item.Children().Where("isNavigation").Count() > 0)
					{
						@*
							Create a class base on the Nth menu for sub menu - variable vID
							The class will be used to determine the positioning and height of the submenu
						*@
						var vID = String.Format("div{0}", count);

						<div class="@vID">
							
							<ul class="oe_full">
								<li>
									<ul id="quin" class="subUl">
									
									@if(item.isDepartmentMenu)
									{
										<!-- Display the options for listing courses -->
										<li>
											<a href="/course-list?listtype=A-Z" >A - Z</a>
										</li>
										<li>
											<a href="/course-list?listtype=FT" >Full Time</a>
										</li>
										<li>
											<a href="/course-list?listtype=PT" >Part Time</a>
										</li>
										<li>
											<a href="/course-list?listtype=HE" >Higher Education</a>
										</li>
										<li>
											<a href="/course-list?listtype=APPRENTICE" >Apprenticeships</a>
										</li>
									}
									
									@foreach(var sub in @item.Children().Where("isNavigation"))
									{
										@*
											Page URL = vURL
											Destination is supposed to be URL from content picker should the user prefer to redirect to another page
											Could easily add a text box for custom URL
											* Destination is not yet set in document type
										*@
										var vURL = sub.Url;

										if(sub.HasValue("redirect"))
										{
											vURL = Umbraco.TypedContent(sub.redirect).Url;
										}
										
										@*
											Thumbnails to display as button background
											Thumbnails from standard properties
											Use GetCropUrl on the media picker to get the resized thumbnail of the image
										*@
										string strLink = String.Empty;

										if(sub.HasValue("thumbnail"))
										{											
											var vThumbnail = @Umbraco.Media(sub.thumbnail).GetCropUrl("wideThumbnail");
											strLink = String.Format("<a style=\"background: url({0})\" href=\"{1}\">{2}</a>", vThumbnail, vURL, sub.Name);
										}
										else
										{
											strLink = String.Format("<a href=\"{0}\">{1}</a>", vURL, sub.Name);
										}											
											
										<li>
											@Html.Raw(strLink)
										</li>
									}
									</ul>
								</li>
							</ul>
						</div>
					}
					</li>
						
					count++;
				}
			}
				<li class="oe_main_heading">
					<a href="http://www.bcot.ac.uk">Study at BCoT</a>
				</li>
			</ul>
		</div>
	</div>
</div>