﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
	<div id="resmio-the-restaurant-bcot"></div>
	<script>(function(d, s) { var js, rjs = d.getElementsByTagName(s)[0]; js = d.createElement(s); js.src = "//static.resmio.com/static/en-gb/widget.js#id=the-restaurant-bcot&amp;width=275px&amp;height=400px"; rjs.parentNode.insertBefore(js, rjs); }(document, "script")); </script>
}